# How to import data in Pandas ?
By: Siraj Shabbor \
Date: 9-21-2023 \
Email: sirajshabir321@gmail.com

In [26]:
# importing libraries
import pandas as pd

In [27]:
# importing data
data = pd.read_excel('pandas_01_day6.xlsx')

In [28]:
data.head()

   height  weight favourite_dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao

In [29]:
data.tail()

    height  weight favourite_dish
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [30]:
data.shape

(87, 3)

In [31]:
# information about data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          87 non-null     float64
 1   weight          87 non-null     int64
 2   favourite_dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB

In [32]:
data.describe()

           height      weight
count   87.000000   87.000000
mean     9.998391   70.459770
std     25.733340   16.753899
min      5.000000   25.000000
25%      5.300000   60.000000
50%      5.600000   70.000000
75%      5.850000   80.000000
max    178.000000  125.000000